<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.3">
    <name>Dicionário !</name>
    <description>Dicionário da lingua portuguesa.</description>
    <author href="http://www.oraculum.blog.br" email="damon@oraculum.net.br">Oraculum</author>
    <icon src="logo/logo_big.png" />
</widget>